
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;

    .login-container{
        width: 100%;
        max-width: 360px;
        padding: 20px;
        border-radius: 8px;
        background-color: #282C34 ;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        h1{
            text-align: center;
            margin-bottom:  24px;
        }
    }
}